form {
    border: 1px solid #82a2be; 
    width: 500px; 
    margin: 0 auto;
    padding: 20px 10px;
}

.input-field-div {
    margin: 10px auto;
    width: 410px;
    display: flex;
    flex-direction: row;
}

.info-field-div {
	margin: 10px auto;
	width: 410px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.label-div {
	text-align: center;
    color: white;
    width: 100px;
    border: 1px solid blue;
    background-color: #70ad47;
    padding: 5px;
    margin-right: 20px;
}

.submit-div {
    text-align: center;
    margin-top: 20px;
}

.gender-div, .gender-div > div {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.text-input {
    width: 280px;
    border: 1px solid blue;
}

select {
	border: 1px solid blue;
}

input[type="submit"] {
    color: white;
    padding: 10px 25px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: #70ad47;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -5px;
	left: -1px;
	position: relative;
	background-color: #70ad47;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 1px solid blue;
    }

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -5px;
	left: -1px;
	position: relative;
	background-color: #ffa500;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 1px solid blue;
}

.required-input::after {
	content: "*";
	color: red;
}

.my-date-picker {
	border: 1px solid blue;
	width: 135px;
}

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.file-input {
	align-items: center;
}

.image-view {
	align-items: flex-start;
}

p {
	margin: 0;
}

h4, a {
	display: block;
	text-align: center;
}

/* for home page */

.home-input-field-div {
    margin: 10px auto;
    width: 410px;
    display: flex;
    flex-direction: row;
	justify-content: center;
	margin-left: -5px;
}

.label-div-without-border-n-bg {
	text-align: left;
	width: 100px;
	color: black;
    padding: 5px;
	margin-right: -10px;
}

.home-text-input {
    width: 136px;
    border: 1px solid blue;
}

.student-list {
	width: 50%;
	margin: 0 auto;
	/* border: 1px solid black; */
}

.student-list-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

table {
	width: 100%;
}

button {
	border: 1px solid blue;
	background-color: #2596be;
	height: 25px;
	width: 40px;
}

/* end here */